<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
  <br>
  <b>Members:</b>
  <br>
  <% @league.users.each do |user| %>
    <%= user.username %>
    <br>
  <% end %>
</p>
<% @league.seasons.each do |season| %>
  <% if season.in_process == false %>
    <%= link_to "Start Draft", start_draft_path(@league) %>
  <% else %>
    <%= link_to "Draft Information", draft_path(@league) %>
  <% end %>
<% end %>

<%= render "add_user_form" %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
