<div id="js_notice"></div>

<div id="league_info">
  <div class="info_box" id="league_name">
    <%= @league.name %>
  </div>

  <div class="info_box" id="invite">
    <p>Invite a friend to join!</p>
    <%= render "add_user_form" %>
  </div>

  <div class="info_box" id="admin_links">
    <% if @league.admin_id == current_user.id %>
    <h3>Admin Links:</h3>
      <div id="determine_winner">
        <%= link_to 'Determine Winner', determine_winner_path(@league), :remote => true %>
      </div>
      <div id="edit_league">
        <%= link_to 'Edit', edit_league_path(@league) %>
      </div>
      <% if @league.in_process == false %>
        <div id="start_draft">
          <%= link_to "Start Draft", start_draft_path(@league) %>
        </div>
      <% else %>
        <div id="end_draft">
          <%= link_to "End Draft", end_draft_path(@league) %>
        </div>
      <% end %>
    <% else %>
      <!-- Some image here? -->
    <% end %>
  </div>
</div>

<div id="draft_prompt">
  <% if current_user.id == @league.active_user_id %>
    <h3>It is your turn to draft!</h3>
  <% end %>
</div>

<div id="view_draft">
  <% if @league.in_process == true %>
    <div id="draft_info">
      <%= link_to "Draft!", draft_path(@league) %>
    </div>
  <% end %>
</div>

<p id="member_line">Members:</p>
<div id="member_info">
    <% @league.users.each do |user| %>
      <% if user.id == @league.active_user_id %>
        <div class="user_box" id="active_user">
          <h3 class="username">
            <%= user.username %>
            <br/>
            _____________
          </h3>
          <ul>
            <% user.players.reverse.each do |player| %>
              <li><%= player.full_name %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="user_box">
          <h3 class="username">
            <%= user.username %>
            <br/>
            _____________
          </h3>
          <ul>
            <% user.players.reverse.each do |player| %>
              <li><%= player.full_name %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </p>
</div>


