<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
  <br>
  <b>Members:</b>
  <br>
  <% @league.users.each do |user| %>
    <%= user.username %>
    <br>
  <% end %>
</p>

<div id="view_draft">
  <% if @league.in_process == false %>
    <div id="start_draft">
      <%= link_to "Start Draft", start_draft_path(@league) %>
    </div>
  <% else %>
    <div id="draft_info">
      <%= link_to "Draft Information", draft_path(@league) %>
    </div>
  <% end %>
</div>

<div id="invite">
  <p>Invite a friend to join!</p>
  <%= render "add_user_form" %>
</div>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
